.grid {
    max-width: 800px;
    margin: 45px auto;
    display: grid;
    
    grid-gap: 20px;

}

.card-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
}

.score-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.card {
    text-align: center;
    color: #fff;
    padding: 25px;
    background:#5e9eff;
    border: solid 1px rgba(110,133,156,0.15);
    border-radius: 0.3em;
}

.score {
    color: #fff;
    text-align: center;
    padding: 25px;
    background:#8398bd;
    border-radius: 0.5em;
}

.timer {
    color: #fff;
    text-align: center;
    padding: 25px;
    background: #8398bd;
    border-radius: 0.5em;
}

.stars {
    color: #fff;
    text-align: center;
    padding: 25px;
    background:#8398bd;
    border-radius: 0.5em;
}