/* General Styles
===================================================================== */
.grid {
    max-width: 800px;
    margin: 45px auto;
    display: grid;

    grid-gap: 20px;
}

body {
    background:#fff;
}


/* Title
===================================================================== */
.game-title {
    text-align: center;
}

.game-title-color {
    -webkit-animation-name: title-color-one; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: title-color-one;
    animation-duration: 20s;
    animation-iteration-count: infinite;


}

.game-title-match {
    -webkit-animation-name: title-color-two; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: title-color-two;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

@keyframes title-color-one {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:green;}
    75%  {color:purple;}
    100% {color:red;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title-color-one {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:green;}
    75%  {color:purple;}
    100% {color:red;}
}

@keyframes title-color-two {
    0%   {color:purple;}
    25%  {color:red;}
    50%  {color:green;}
    75%  {color:yellow;}
    100% {color:purple;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title-color-two {
    0%   {color:purple;}
    25%  {color:red;}
    50%  {color:green;}
    75%  {color:yellow;}
    100% {color:purple;}
}



/* Instructions and restart
===================================================================== */
.instruct-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.btn {
    text-align: center;
}
.btn a{
    text-decoration: none;
    color: #8398bd;
    padding: 20px 20px;
}


/* Score and stats
===================================================================== */
.score-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.stats {
    color: #fff;
    text-align: center;
    padding: 25px;
    background:#8398bd;
    border-radius: 0.5em;
}


/* Cards
===================================================================== */
.card-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    background: #f9f9f9;
    padding: 20px;
    border: solid 1px #8398bd;
}

.card {
    text-align: center;
    color: #fff;
    padding: 25px;
    background:#5e9eff;
    border-radius: 0.3em;
    box-shadow: 3px 3px 5px #888888;
    cursor: pointer;
}

.card:hover {

	box-shadow: 5px 5px 5px #888888;
	/* transform-style: preserve-3d; */
    transition: all .2s ease-in-out;
    
}
